@font-face {
    font-family:'monserrat' ;
    src: url(/font/Montserrat-Medium.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'monserrat';
}

.navigationbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 9px rgb(148, 148, 148);
}

.navlinks ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navlinks li{
    list-style: none;
}
.navlinks li:hover{
    background-color: blue;
}
.navlinks a:hover{
    color: whitesmoke;
    transition: 0.5 ease-in;
}
.navlinks a{
    display: block;
    color: rgb(48, 48, 48);
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    
}

.toggle{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: cornflowerblue;
}
.background-picture{
    background-image: url('/images/albert-YYZU0Lo1uXE-unsplash.jpg');
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
}

.description{
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-now{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.book-now button{
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    background-color: orangered;
    color: white;
}

.book-now button:hover{
    background-color: rgb(17, 96, 199);
    height: 50px;
    font-size: 20px;
    width: 160px;
    transition: 0.5s;
}

.hotel-motto{
    margin: 40px 20px 0 0;
    text-align: center;
}

.hotel-motto h2{
    text-transform: uppercase;
    color: orangered;
}

.hotel-motto p{
    text-transform: capitalize;
}

.rooms-and-apartments{
    padding: 40px;
    margin: 25px;
}

.rooms-description{
    float: left;
    padding-top: 25px;
}

.rooms-description p{
    padding:20px 10px 0 0;
    text-align: left;
    font-size: 0.9rem;
}

.rooms-description h2{
    text-align: left;
}

.more-details{
    float: left;
    padding-top: 200px;
    margin-left: 30px;
    position: absolute;
    
}

.more-details button{
    height: 40px;
    width: 150px;
    color: white;
    background-color: orangered;
    border-style: none;
    font-weight: bolder;
}

.more-details button:hover{
    transition: 0.5s;
    background-color: white;
    border: 2px solid orangered ;
    color: orangered;
}
    
.box_1{
    float: right;
    border-radius: 10px;
    border: 1px solid bisque;
    margin-left: 15px;
}

.box_1 img{
    height: 200px;
}
.box_1 div{
    width: 80%;
    background-color: white;
    margin-bottom: 25px;

}

.box-details{
    text-align: center;
    padding: 10px 20px;
}

.box-details h2{
    color: orangered;
    font-weight:bolder;
}

.box_1:hover{
    box-shadow: 0 4px 8px 0;
    transition: 0.5s;
    cursor: pointer;
}


.box_2{
    float: right;
    border-radius: 10px;
    border: 1px solid bisque;
    
}

.box_2 div{
    width: 80%;
    background-color: white;
    margin-bottom: 25px;
}

.box_2:hover{
    box-shadow: 0 4px 8px 0;
    transition: 0.5s;
    cursor: pointer;
}
    
.rooms-description{
    text-align: left;
}

/* the gallery view */
.the-gallery{
    padding-top: 30%;
}

.big-picture img{
    height: 540px;
    width: 900px;
    margin-left: 100px;
}
.all-pictures{
    display: flex;
    padding-top:30px;
}
.column-pictures img{
    height: 100px;
    width: 150px;
    display: grid;
    float: right;
    padding-bottom: 10px;
    padding: 0 10px 10px 0;
    margin-right: 90px;
}

.top-description h2{
    text-align:center;
}

.top-description p{
    text-align: center;
}

.attraction{
    display: flex;
    margin-left: 99px;
    padding-top: 50px;
    margin-right: 50px;
}

.attraction-description {
    padding-top: 50px;
    text-align: center;
}

.attraction-description h2 {
    padding-bottom: 20px;
    font-weight: 900;
    text-align: center;
}

.attraction-pictures{
    display: flex;
}

.attraction-pictures img{
    padding-right: 20px;
}

.see-more-button{
    float: right;
    padding-top: 200px;
    margin-left: 30px;
    padding-left: 800px;
    position: absolute;
}

.see-more-button button{
    height: 40px;
    width: 150px;
    color: white;
    background-color: orangered;
    border-style: none;
    font-weight: bolder;
}

.see-more-button button:hover{
    transition: 0.5s;
    background-color: white;
    border: 2px solid orangered ;
    color: orangered; 
}

.footer{
    height: 100px;
    margin-top: 70px;
    color: whitesmoke;
    background-color: black;
}

.footer p{
    padding-top: 50px;
    text-align: center;
}

/* responsive screen for mobile phones */

@media (max-width: 500px){
    /* navbar */
    .toggle {
        display: flex;
    }

    .navlinks{
        display: none;
        width: 100%;
    }

    .toggle .bar{
        background-color: cornflowerblue;
    }

    .navigationbar{
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }
    .navlinks ul{
        flex-direction: column;
        width: 100%;
    }

    .navlinks li{
        text-align: center;
    }
    .navlinks.active{
        display: flex;
    }

    /* content */
    /* welcome picture */
    .background-picture{
        background-image: url(/images/q-u-i-giL2fHNr3Lc-unsplash.jpg);
        background-position: center;
        background-size: cover;
        margin: -10px 0 0 0;
    }
    .rooms-and-apartments{
        justify-content: center;
    }
    /* rooms and apartment */
    .rooms-description h2{
        text-align: center;
    }
    
    .rooms-description p{
        text-align: center;
    }

    .box_1{
        margin-top: 20px;
    }
    .box_2{
        margin-top: 20px;
    }
    .more-details{
        margin: 650px 0 20px 130px;
    }

    /* THE GALLERY */
    .the-gallery{
        /* display: none; */
        margin-top: 800px;

    }

    .top-description{
        padding: 2rem;
    }

    .top-description h2{
        padding: 1rem;
    }

    .all-pictures{
        display: flex;
        flex-direction: column;
    }
    .big-picture img{
        margin: 0;
        padding: 2rem;
        width: 30rem;
        height: 20rem;
    }


    .column-pictures img{
        justify-content: center;
        width: 30rem;
        height: 20rem;
        padding: 2rem;
        margin: 0 0 0 2rem;
    }

    /* attraction */

    .attraction{
        display: flex;
        flex-direction: column;
    }
    .attraction-description{
        margin: -930px 0 0 -20px;
    }
    .attraction-pictures{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }

    .see-more-button{
        margin: 700px 0 0 -730px;        
        
    }

    /* footer */
    .footer{
        margin: 950px 0 0 0;
    }
}